<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548591409195-2mui6e9jter4e8btcn357c5pt9f7c2uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548591409195-2mui6e9jter4e8btcn357c5pt9f7c2uu</string>
	<key>API_KEY</key>
	<string>AIzaSyCHduCM3EVOvYir9nLg5H3b7gn0zE0lt78</string>
	<key>GCM_SENDER_ID</key>
	<string>548591409195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>insta-qube</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-qube.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548591409195:ios:5ec4449cc4e9ae6ef3726e</string>
</dict>
</plist>